{% extends 'base.html.twig' %}

{% block body_id 'profile' %}

{% block main %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Католическа Църква{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="css/superfish.css">

    <script type ="text/javascript" src="/js/jquery-2.2.4.min.js"></script>
    <script type ="text/javascript" src="/js/hoverIntent.js"></script>
    <script type ="text/javascript" src="/js/superfish.js"></script>
    <script type="text/javascript">
        $(function () {
            $("ul.sf-menu").superfish();

        });
    </script>
</head>
<body>
    <div>
        {{ user.email }}
        <br>
        {{ user.fullName }}
    </div>
    <div>
    <ul class="sf-menu">
        <li class="current">
        <a href="{{ path('admin_users_all') }}">Всички</a>
        </li>

        <li>
        <a href="{{ path('article_create') }}">Добави нова статия</a>
        </li>

</ul>
    </div>
    </body>
</html>
{% endblock %}
