{% extends 'base.html.twig' %}

{% block main %}
    <form class="register">

    <div class="mainContent">

        <div class="content">
            {% for article in articles %}
            <article class="topcontent">
                <header>
                    <h2><a href="#"title="First post">{{ article.title }}t</a></h2>
                </header>

                <footer>
                    <p class="post-info">This post is written by {{ article.author }}</p>
                    <p class="post-info">Posted On: {{ article.dateAdded|date("H:i:s d/m/Y") }}</p>        
                </footer>
                <content>
                    <p>{{ article.content }}</p>
                </content>
            </article>
            {% endfor %}


    <aside class="top-sidebar">
        <article>
            <h2>Top sidebar</h2>
            <p>Класическото тесто за пица се приготвя от брашно, мая, захар, сол, </p>
        </article>
    </aside>

    <aside class="middle-sidebar">
        <article>
            <h2>Middle sidebar</h2>
            <p>Класическото тесто за пица се приготвя от брашно, мая, захар, сол, </p>
        </article>
    </aside>

    <aside class="bottom-sidebar">
        <article>
            <h2>Bottom sidebar</h2>
            <p>Класическото тесто за пица се приготвя от брашно, мая, захар, сол, </p>
        </article>
    </aside>
    </form>
{% endblock %}

