{% extends 'base.html.twig' %}

{% block body_id 'profile' %}

{% block main %}
    <div>
        {{ user.email }}
        <br>
        {{ user.fullName }}
    </div>
    <div>
        <label>
            <button type="submit" class="button" style="margin: 0% 2% 0% 0%;"><a class="button" href="{{ path('contacts_create') }}">Нов Контакт</a></button>

        </label>
    </div>
{% endblock %}
