{% extends 'base.html.twig' %}

{% block body_id 'register' %}

{% block main %}
<link rel="stylesheet" href="{{ asset('css/register.css') }}">

<div class="main">
    <div class="one">
        <form class="register" action="{{ path('user_register') }}" method="post">
            <h3>Регистрация</h3>
            <div>
                <label class="col-sm-4 control-label" for="user_email">E-mail</label>
                <input class="form-control" id="user_email" placeholder="E-mail" name="user[email]" required type="text">
            </div>
            <div>
                <label class="col-sm-4 control-label" for="user_fullName">Потребителско Име</label>
                <input type="text" class="form-control" id="user_fullName" placeholder="Nick Name" name="user[fullName]" required>
            </div>
            <div>
                <label class="col-sm-4 control-label" for="user_password_first">Парола</label>
                <input type="password" class="form-control" id="user_password_first" placeholder="Password" name="user[password][first]" required>
            </div>
            <div>
                <label class="col-sm-4 control-label" for="user_password_second">Потвърди Парола</label>
                <input type="password" class="form-control" id="user_password_second" placeholder="Password" name="user[password][second]" required>
            </div>
            <div>
                <label></label>
                <a class="button" href="{{ path('blog_index') }}">Отказ</a>
                <button type="submit" class="button">Създай Профил</button>
            </div>

            {{  form_row(form._token) }}
        </form>
    </div>
</div>
{% endblock %}


{% extends 'base.html.twig' %}

{% block main %}
<link rel="stylesheet" href="{{ asset('css/register.css') }}">

<div class="container body-content span=8 offset=2">
    <div class="well">
        <form enctype="multipart/form-data" class="form-horizontal" action="{{ path('article_create') }}" method="POST">
            <fieldset>
                <legend>New Post</legend>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="article_title">Post Title</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="article_title" placeholder="Post Title"
                               name="article[title]">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="article_content">Content</label>
                    <div class="col-sm-6">
                            <textarea class="form-control" rows="6" id="article_content"
                                      name="article[content]"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="article_title">Category</label>
                    <div class="col-sm-4 ">
                        <select class="form-control" id="article_title"
                                name="article[category]">
                            {% for category in categories%}
                            <option value="{{ category.id }}">{{ category }}</option>

                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="article_tags">Tags</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="article_tags" placeholder="Create tag"
                               name="tags">
                    </div>
                </div>

                {{ form_row(form.coverPhoto) }}
                {{ form_row(form._token) }}

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <a class="btn btn-default" href="{{ path('blog_index') }}">Cancel</a>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
