{% extends 'base.html.twig' %}

{% block main %}
<link rel="stylesheet" href="{{ asset('css/articleView.css') }}">
<link rel="stylesheet" href="{{ asset('css/lightbox.css') }}">

<div class="mainDiv">
    <header>
        <h2>{{ article.title }}</h2>
    </header>


    <div class="white-div">
        <div class="photo-container">
            <div class="photoDiv">
                <a href="{{ asset('uploads/articles/' ~ article.coverPhoto ) }}" data-lightbox="gallery">
                    <img style="display: block;width: 100%;height: auto;"
                         src="{{ asset('uploads/articles/' ~ article.coverPhoto ) }}"/>
                </a>
            </div>
        </div>
        <textarea class="form-control" rows="12">
                        {{ article.content }}
                            </textarea>
        <h1 style="font-family: 'Calibri Light';font-style: italic;
                         font-size: smaller">Този пост бе написан от {{ article.author }}</h1>
    </div>
    <label></label>

    {% if app.getUser() and (app.getUser().isAuthor(article) or app.getUser().isAdmin())  %}
    <a class="button" href="{{ path('article_delete', {'id': article.id}) }}">Изтрий</a>
    <a class="button" href="{{ path('article_edit', {'id': article.id}) }}">Редактирай</a>
    {% endif %}
    <a class="button" href="{{ path('blog_index') }}">Назад &raquo;</a>
</div>



<a href="{{ path('comment_create', {'id':article.id}) }}" class="btn btn-warning">Create Comment</a>

<hr>
<hr>
<div class="container body-content">
    <div class="row">
        <div class="col-md-6">
            <h3>Comments</h3>
            <table class="table table-striped table-hover ">

                {% for comment in comments %}

                <thead>
                <tr class="info">
                    <th>Name</th>
                    <th>Comment</th>
                    <th>Date</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                <tr class="active">
                    <td>
                        {{ comment.author }}
                    </td>
                    <td>
                        {{ comment.content() }}
                    </td>
                    <td>
                        {{ comment.dateAdded|date('d-m-Y H:i') }}
                        {% if app.getUser() and app.getUser().isAdmin() %}
                        <a class="btn btn-danger btn-xs" href="{{ path('comment_delete', {'id':comment.id}) }}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>


{% endblock %}