{% extends 'base.html.twig' %}

{% block main %}
<link rel="stylesheet" href="{{ asset('css/articleView.css') }}">
<div class="main">
    <div class="one">
        <div class="register">
            <article>
                <header>
                    <h2>{{ article.title }}</h2>
                </header>
                    <textarea class="form-control" rows="12">
                        <p>
                        <a href="{{ asset('uploads/articles/' ~ article.coverPhoto ) }}">
                            <img src="{{ asset('uploads/articles/' ~ article.coverPhoto ) }}"/>
                        </a>
                    </p>
                        {{ article.content }}
                            </textarea>
                    <h1 style="font-family: 'Calibri Light';font-style: italic;
                         font-size: smaller">Този пост бе написан от {{ article.author }}</h1>
                <footer>
                    <div>
                        <label></label>
                        <a style="float: right; background-color: lightgray" class="button" href="{{ path('blog_index') }}">Назад &raquo;</a>
                        {% if app.getUser() and (app.getUser().isAuthor(article) or app.getUser().isAdmin())  %}

                        <a style="float: right; background-color: springgreen" class="button" href="{{ path('article_edit', {'id': article.id}) }}">Редактирай</a>
                        <a style="float: right; background-color: tomato" class="button" href="{{ path('article_delete', {'id': article.id}) }}">Изтрий</a>
                        {% endif %}
                    </div>
                </footer>
            </article>
        </div>
    </div>
</div>
{% endblock %}