{% extends 'base.html.twig' %}

{% block main %}
{% for article in articles %}

<div class="mainContent">

    <div class="content">

        <article class="topcontent">

            <header>
                <h2>{{ article.title }}</h2>
            </header>

            <footer>
                <p class="post-info">Този пост бе написан от {{ article.author }}</p>
            </footer>

            <p>{{ article.content }}</p>

        </article>
    </div>
</div>
{% endfor %}

<aside class="top-sidebar">
    <article>
        <h2>Top sidebar</h2>
        <p>Класическото тесто за пица се приготвя от брашно, мая, захар, сол, зехтин и вода. Тестото се меси на ръка, след което втасва определено време и се разточва на тънък пласт (обикновено с дебелина 0,5 см.). Майсторите на пица използват зрелищен начин за разточване на тестото, </p>
    </article>
</aside>

<aside class="middle-sidebar">
    <article>
        <h2>Middle sidebar</h2>
        <p>Класическото тесто за пица се приготвя от брашно, мая, захар, сол, зехтин и вода. Тестото се меси на ръка, след което втасва определено време и се разточва на тънък пласт (обикновено с дебелина 0,5 см.). Майсторите на пица използват зрелищен начин за разточване на тестото, </p>
    </article>
</aside>

<aside class="bottom-sidebar">
    <article>
        <h2>Bottom sidebar</h2>
        <p>Класическото тесто за пица се приготвя от брашно, мая, захар, сол, зехтин и вода. Тестото се меси на ръка, след което втасва определено време и се разточва на тънък пласт (обикновено с дебелина 0,5 см.). Майсторите на пица използват зрелищен начин за разточване на тестото, </p>
    </article>
</aside>

{% endblock %}

