{% extends 'base.html.twig' %}

{% block main %}
    <link rel="stylesheet" href="{{ asset('css/articleCreate.css') }}">

    <div class="main">
        <div class="one">
            <form class="register" action="{{ path('comment_create', {id: article.id}) }}" method="POST">
                <h3>Напиши Коментар</h3>

                <p style="margin-left: 1%" for="comment_content">Съдържание</p>
                <textarea style="margin-bottom: 40px" class="form-control" rows="6" id="comment_content"
                          name="comment[content]" required></textarea>


                {{ form_row(form._token) }}
                <div>
                    <div>
                        <label></label>
                        <a class="button" style="padding: 15px; margin-left: 2%" href="{{ path('article_view', {id: article.id}) }}">Отказ</a>
                        <button type="submit" style="padding: 15px" class="button">Готово</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
