{% extends 'base.html.twig' %}

{% block main %}

    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" action="{{ path('comment_create', {id: article.id}) }}" method="POST">
                <fieldset>
                    <legend>New Comment</legend>


                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="comment_content">Comment*</label>
                        <div class="col-sm-6">
                        <textarea class="form-control" rows="6" id="comment_content"
                                  name="comment[content]"></textarea>
                        </div>
                    </div>

                    {{ form_row(form._token) }}

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('article_view', {id: article.id}) }}">Cancel</a>
                            <button type="submit" class="btn btn-success">Comment</button>
                        </div>
                    </div>
                    <p>* Requred fields</p>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}